@charset "utf-8";
/* CSS Document */
body{
	background-repeat:no-repeat; 
	  background-position:53% -1%;
	background-size: 100% 100%;
	background-attachment: fixed;
}
ul li{
	margin-top: 0px;
	list-style: none;
}


.main_login{
	width:250px;
	background:#F3F1FC;
	border-radius: 10px;
	position: absolute;
	margin-left: 42%;
	top: 180px;
	box-shadow: 0 0 10px rgba(0,4,6,0.9);
	padding: 25px 32px;
	padding-top: 0px;
	padding-right: 32px;
    padding-right: 32px;
    padding-bottom: 25px;
	padding-right: 0;
	padding-bottom: 15px;
}
 

.main_logo_m {
    padding-top: 175px;
}
  

.main_logo_input_1 {
	margin-top: 0px;
        margin-right: 60%;
        margin-bottom: 0px;
        margin-left: 0%;
    border: 1px solid #947878;
        border-top-color: rgb(229, 229, 229);
        border-top-style: solid;
        border-top-width: 1px;
        border-right-color: rgba(229, 229, 229);
        border-right-style: solid;
        border-right-width: 1px;
        border-bottom-color: rgb(229, 229, 229);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgb(229, 229, 229);
        border-left-style: solid;
        border-left-width: 1px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
    height: 20px;
    border-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    margin-top: 10px;
    padding: 5px 10px;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 30px;
    position: relative;
}
.main_logo_input_1 {
    border: 1px solid #e5e5e5;
        border-top-color: rgb(229, 229, 229);
        border-top-style: solid;
        border-top-width: 1px;
        border-right-color: rgb(229, 229, 229);
        border-right-style: solid;
        border-right-width: 1px;
        border-bottom-color: rgb(229, 229, 229);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgb(229, 229, 229);
        border-left-style: solid;
        border-left-width: 1px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
    height: 20px;
    border-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    margin-top: 10px;
    padding: 5px 10px;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
    position: relative;
}

.main_logo_input_2 {
	margin-top: 0px;
        margin-right: 54%;
        margin-bottom: 0px;
        margin-left: 36%;
    border: 1px solid #e5e5e5;
        border-top-color: rgb(229, 229, 229);
        border-top-style: solid;
        border-top-width: 1px;
        border-right-color: rgb(229, 229, 229);
        border-right-style: solid;
        border-right-width: 1px;
        border-bottom-color: rgb(229, 229, 229);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgb(229, 229, 229);
        border-left-style: solid;
        border-left-width: 1px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
    height: 20px;
    border-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    margin-top: 10px;
    padding: 5px 10px;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
    position: relative;
}




.main_logo_input_1yzm .main_logo_input_1 input {
    width: 80px;
}
.main_logo_input_1 input {
    width: 200px;
    font-size: 12px;
    line-height: 18px;
}
input {
    outline: 0;
        outline-color: currentcolor;
        outline-style: none;
        outline-width: 0px;
}
 div,i,img,input,li,u, ul {
    margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    padding: 0;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    border: 0;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 0px;
        border-right-color: currentcolor;
        border-right-style: none;
        border-right-width: 0px;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-left-color: currentcolor;
        border-left-style: none;
        border-left-width: 0px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
    outline: 0;
        outline-color: currentcolor;
        outline-style: none;
        outline-width: 0px;
    font-weight: 400;
    font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    line-height: 1;
}
#one{
	margin-top: 85px;
        margin-right: 50px;
        margin-bottom: 0px;
        margin-left: 200px;
}
.login button{
	background: #1915cd;
	font-size: 14px;
	border-color: rgba(10, 206, 255, 0.69);
}
.lione{
	font-style: italic;
	font-size: 13px;
	color: gray;
	margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 26px;
}

.litwo button{
	background: #0aceff;
}
.litwo{
	margin-top: 5px;
        margin-right: 50px;
        margin-bottom: 0px;
        margin-left: 20px;
}
.litwo a{
	text-decoration: none;
	color:#3E81C7;
}
.lithree{
	margin-top: 5px;
        margin-right: 50px;
        margin-bottom: 0px;
        margin-left: 20px;
}
.lithree a{
	text-decoration: none;
	color:#3E81C7;
}
.lithree button{
	background: #0aceff;
}
.login {
	margin-top: 50px;
        margin-right: 35px;
        margin-bottom: 0px;
        margin-left: 0px;
    color: #fff;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    background: #23c2fa;
        background-color: rgb(35, 194, 250);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-attachment: scroll;
        background-image: none;
        background-size: auto;
        background-origin: padding-box;
        background-clip: border-box;
    border-radius: 18px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        border-bottom-left-radius: 18px;
    cursor: pointer;
}
.login a{
	text-decoration: none;
	color: white;
}
